#leader_list{
    list-style: none;
    text-align: left;
    padding-left: .5rem;
    font-weight: 1000;
    font-family: 'Old Standard TT', serif;
    font-size: 16px;

    
}
#leader_list li{
    padding:2px;
}
#leader_box{
    position: absolute;
    background-color: white;
    width: 75%;
    margin: 7rem 0 0 2rem;   
    font-family: 'Old Standard TT', serif;
    font-weight: 1000;
    padding: 0.5rem;
}

#scoutimg{
    position: relative;
    width: 200px;
    padding: 10px;
    border-bottom:3px solid black;
    margin-bottom: 1.5rem;
}
#leader_modal{
    width: 100%;
    height: 200%;
    padding: 1%;
    background-color: rgba(0,0,0,.96);
    position: absolute;
    top: 0;
    justify-content: center;
}

#leader_close{
    position: relative;
    top: 0;
    left: 40%;
   height: 25px;
   width: 25px;
}
.modal_title{
    width: 80%;
    font-size: 16px;
    font-weight: 900;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
@media screen and (min-width: 700px){
    #leader_list{
        list-style: none;
        text-align: left;
        padding-left: 6rem;
        font-weight: 1000;
        font-family: 'Old Standard TT', serif;
        font-size: 24px;
    
        
    }
    #leader_list li{
        padding:3px;
    }
    #leader_box{
        background-color: white;
        width: 50%;
        font-family: 'Old Standard TT', serif;
        font-weight: 1000;
        padding: 2rem;
    }
    
    #scoutimg{
        position: relative;
        width: 200px;
        padding: 10px;
        border-bottom:3px solid black;
        margin-bottom: 1.5rem;
    }
    #leader_modal{
        width: 100%;
        height: 100%;
        padding: 5%;
        background-color: rgba(0,0,0,.96);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .modal_title{
        width: 70%;
        font-size: 20px;
        font-weight: 900;
        padding-left: 5rem;
        margin-bottom: 4rem;
    }
    
    
}
@media screen and (min-width: 700px) and (orientation: landscape){
    #leader_modal{
        margin-top: 4rem;
        height: 300%;
    }

}
@media screen and (min-width: 1550px){
    #leader_box{
        width: 39%;
    }
}
