
#about_h3{
    margin: 0;
}
#about_para_1{
    margin-top: 3px;
}
#About_Info{
    width: auto;
    height: 100%;
    margin: 80px 1% 1% 1%;
    background-color:lightgray;
    border: 5px solid white;
    padding: 3%;
  


}

#about_para{
    width: auto;
    height: 100%;
    margin-top: 40px;
    text-align: left;
    padding: 7px;

}

#scout-masters, #eagle-scouts {
    list-style: none;
    text-align: left;
    padding-left:30px ;
}

@media screen and (min-width: 800px){
    #About_Info{
        width: 60%;
        z-index: 0;
        position:relative;
        top: 50%;
        left: 15%;
    }
    #about_para{
        width: 60%;
        display: inline-block;
        padding:4px;
    }
    #text-boxs{
        padding: 1%;
        display: flex;
        flex-direction: row;
        
    }
    
    #leaders{
        margin-left: 9%;
    }
    #scout-masters {
        padding-left: 4%;
    }
    #About_Info{
        
        margin: 100px 1% 1% 1%;
        
    
    }
}