.image_container {
  text-align: left;
  margin-top: 10px;
  display: block;
  height: 800px;
  width: 80%;
}
.row__posters2 {
  display: flex;
  border-radius: 1rem;
  height: 200px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 5px 0 5px 70px;
  padding: 8px;
  background-color: antiquewhite;
}
.album__name {
  margin-top: 20px;
}
.row__poster2 {
  object-fit: contain;
  max-height: 200px;
  transition: transform 450ms;
  margin-left: 1px;
  padding: 8px;
  border-radius: 1rem;
}

.missing_pics {
  margin-top: 70px;
}
.missing_pics,
.row__posters2 {
  color: #111;
}
.image__button {
  width: 50px;
  height: 190px;
  margin-right: 30px;
  margin: 3px;
  padding: 1px;
}
