

@media screen and (max-width: 1060px){
    #Contacts_Info{
        width: auto;
        margin: 100px 2% 1% 1%;
        padding-bottom: 3%;
        height: auto;
        background-color: rgb(144, 144, 144);
    }
    .j_pucel {
        display: inline-block;
        width: 80%;
        margin: .5rem;
       



    }

    .j_pucel li{
        list-style: none;
        border-radius: 1rem;
        border: solid 2px black;
        padding-left: 1rem;
        height: 170px;
        width: 90%;
        text-align: left;
        margin: 3px;
  background-color: rgb(144, 144, 144);
        

    }
    .contact_name, .j_pucel li{
        font-size: 15px;
    }
}
@media screen and (min-width: 1060px){


#Contacts_Info{
    width: auto;
    margin: 100px 2% 1% 1%;
    height: 100vh;
    padding-bottom: 3%;
    background-color: rgb(144, 144, 144);
}

 .j_pucel{
     
    list-style: none;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    width: 100%;
}

.j_pucel li{
    border: solid 3px black;
    border-radius: 1rem;
    height: 170px;
    width: 90%;
    padding-left: 2%;
    text-align: left;
    margin-left: 3%;
    background-color: lightcoral;
    
}
}

