#special-dates, #troop-dates{
    text-align: left;
    padding-left: 1%;
}
#troop-dates{
    margin-top: 4%;
}
#events{
    display: inline-block;
    height: 50vh;
    width: 60%;
    border: 5px solid white;
    margin-top: 50px;
    background-color: lightpink;

}
#event_dates{
    height: 50px;
}
.dates{
    display: inline;
    padding: 0 20px;
}
@media screen and (max-width: 700px){
    .dates{
        padding: 0 10px;
    }
    #events{
        width: 93%;
        height:80vh;
    }
    #Main_title{
        margin-top: 80px;
        width:100%;
        height: 100%;
        padding-top: 2px;
    }
    #troop-dates{
        margin-top: 2%;
    }
    #const_logo{
        width: 200px;
        height: auto;
        margin: 5px;
        object-fit: fill;
    } 
   
    
}

@media only screen and (min-width:560px) and (max-width: 699px) and (orientation: landscape){
    #events{
        width: 93%;
        height:400px;
        margin-top: 10%;
    }
}
@media only screen and (min-width:700px) and (max-width: 850px) and (orientation: landscape){
    #events{
        width: 93%;
        height:500px;
        margin-top: 400px;
    }
}
@media only screen and (min-width:700px) and (max-width: 850px) and (orientation: portrait){
    #events{
        width: 93%;
        height:500px;
        margin-top: 400px;
    }
}
@media only screen and (min-width:851px) and (max-width: 1025px) and (orientation: portrait){
    #events{
        width: 93%;
        height:500px;
        margin-top: 50px;
    }
}
@media only screen and (min-width:1020px) and (max-width: 1367px) and (orientation: landscape){
    #events{
        width: 93%;
        height:500px;
        margin-top: 50px;
    }
}
    