#special-dates,
#troop-dates,
#significant-dates {
  text-align: left;
  padding-left: 1%;
}
#troop-dates {
  margin-top: 4%;
}
#events {
  display: inline-block;
  height: 300px;
  width: 400px;
  border: 5px solid white;
  background-color: lightpink;
}
#troop__events {
  display: inline-block;
  height: 300px;
  width: 400px;
  border: 5px solid white;
  background-color: lightskyblue;
}
#plc__events {
  display: inline-block;
  height: 300px;
  width: 400px;
  border: 5px solid white;
  background-color: lightgoldenrodyellow;
}
#significant__events {
  display: inline-block;
  height: 300px;
  width: 400px;
  border: 5px solid white;
  background-color: lightseagreen;
}
#event_dates {
  height: 50px;
}
.dates,
#st_charels,
#camp_phillips {
  display: inline;
  padding: 0 20px;
  font-size: 14px;
}
@media screen and (max-width: 700px) {
  .dates,
  #st_charels,
  #camp_phillips {
    padding: 0 0 0 10px;
    font-size: 10px;
  }
  #events {
    width: 93%;
    height: 80vh;
  }
  #troop__events {
    width: 93%;
    height: 80vh;
  }
  #plc__events {
    width: 93%;
    height: 80vh;
  }
  #significant__events {
    width: 93%;
    height: 80vh;
  }
  #Main_title {
    margin-top: 80px;
    width: 100%;
    height: 100%;
    padding-top: 2px;
  }
  #troop-dates {
    margin-top: 2%;
  }
  #plc-dates {
    margin-top: 2%;
  }
  #significant-dates {
    margin-top: 2%;
  }
  #const_logo {
    width: 200px;
    height: auto;
    margin: 5px;
    object-fit: fill;
  }
}

@media only screen and (min-width: 560px) and (max-width: 699px) and (orientation: landscape) {
  #events, #troop_events, #significant__events, #plc__events {
    width: 93%;
    height: 400px;
    margin-top: 10%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 850px) and (orientation: landscape) {
  #events, #troop_events, #significant__events, #plc__events {
    width: 93%;
    height: 500px;
    margin-top: 450px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 850px) and (orientation: portrait) {
  #events, #troop_events, #significant__events, #plc__events {
    width: 93%;
    height: 500px;
    margin-top: 450px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1025px) and (orientation: portrait) {
  #events, #troop_events, #significant__events, #plc__events {
    width: 93%;
    height: 500px;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1367px) and (orientation: landscape) {
  #events, #troop_events, #significant__events, #plc__events {
    width: 475px;
    height: 250px;
  }
}