#eaglescout_list{
    list-style: none;
    text-align: left;
    padding-left: .5rem;
    font-weight: 1000;
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    column-count: 2;
}
#eaglescout_list li{
    padding:2px;
}
#eaglescout_box{
    position: relative;
    border: 5px dashed rgb(142, 0, 0);
    width: 95%;
    margin: 4rem 0 0 13rem;   
    font-family: 'Old Standard TT', serif;
    font-weight: 1200;
    padding: 0.5rem;
    background-image: url(../../img/eagle_scout_background2.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: scroll;
color: rgb(246, 255, 0);
text-shadow: 0 1px 0 rgb(11, 0, 0), 
               0 2px 0 #190d0d,
               0 3px 0 rgb(44, 38, 38),
               0 4px 0 #534f4f,
               0 5px 0 rgba(124, 124, 124, 0.519),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0, 0, 0, 0.183),
               0 3px 5px rgba(0, 0, 0, 0.142),
               0 5px 10px rgba(202, 202, 202, 0.163),
               0 10px 10px rgba(255, 255, 255, 0.149),
               0 20px 20px rgba(217, 217, 217, 0.087);
height: 975px;
}


#eaglescout_modal{
    width: 100%;
    height: 400%;
    z-index: 1;
    background-color: rgba(0,0,0,.96);
    position: absolute;
    top: 0;
    justify-content: center;
    
   
}

#scout_close{
    position: relative;
    top: 0;
    left: 49%;
    background-color: rgb(146, 146, 146);
    border: 5px solid rgb(200, 0, 0);
    border-style: ridge;
   height: 35px;
   width: 35px;
}
.modal_title{
    width: 80%;
    font-size: 16px;
    font-weight: 900;
    padding-left: 2rem;
    padding-top: 5rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 699px){
    #eaglescout_box{
        width: 85%;
        margin: 5rem auto;   
        height: 550px;
        background-size: 100% 570px;
        font-size: 12px;
    }
    #eaglescout_modal{
        height: 100%;
    }
    #eaglescout_list{
        font-size: 14px;
    }
    .modal_title{
        font-size: 14px;
        padding-top: .5rem;
        padding-left: .5rem;
    }
    #scout_close{
        left: 40%;
        top: 9%;
        height: 20px;
        width: 20px;
    }
    
}    
@media screen and (min-width: 700px){
    #eaglescout_list{
        list-style: none;
        text-align: left;
        padding-left: 4rem;
        font-weight: 1000;
        font-family: 'Old Standard TT', serif;
        font-size: 20px;
    
        
    }
    #eaglescout_list li{
        padding:3px;
    }
    #eaglescout_box{
        width: 60%;
        font-family: 'Old Standard TT', serif;
        margin: 0;
        font-weight: 1000;
        padding: 2rem;
        left: 15%;
        background-size: 100% 100%;

      
    }
    
 
    #eaglescout_modal{
        width: 100%;
        height: 300%;
        padding: 5%;
        background-color: rgba(0,0,0,.96);
        position: absolute;
        top: 0;
        justify-content: center;
    }
    
    
    .modal_title{
        width: 70%;
        font-size: 25px;
        font-weight: 900;
        padding-left: 7rem;
        margin-bottom: 4rem;
    }
    
    
}
@media screen and (min-width: 700px) and (orientation: landscape){
    #eaglescout_modal{
        margin-top: 4rem;
        height: 200%;
    }
   

}

