.App {
  flex: 1;
  width: 100%;
  padding: 3px;
  text-align: center;
  position: relative;
}

#const_logo {
  width: 400px;
  height: auto;
  object-fit: fill;
  margin: 10px;
  border: 5px solid white;
}

#Main_title {
  height: 100px;
  margin-top: 105px;
  padding-top: 10px;
  color: white;
}

.ft_page_main {
  padding-top: 25px;
  font-size: 10px;
}

#duble_ZZ{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (min-width:650px) and (max-width:848px){
  #duble_ZZ{
flex-direction: row;
flex-wrap: wrap;}
}
@media screen and (min-width:848px){
#duble_ZZ{
  flex-direction: row;
  padding: 2%;
}
}
@media only screen and (min-width: 701px) and (max-width: 850px) and (orientation: portrait) {
  #duble_ZZ{
    margin-top:450px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 850px) and (orientation: landscape) {
  #duble_ZZ{
    margin-top:450px;
  }
}