.App{
    flex: 1;
    background-color: lightgray;
    border: 5px solid white;
    text-align: center;
}
#about_h3{
    margin: 0;
}
#about_para_1{
    margin-top: 3px;
}
#About_Info{
    margin: auto;
    width: auto;
    height: auto;
    background-color:lightgray;
    border: 5px solid white;
}
#about_para{
    width: auto;
    padding:3px 200px 10px 200px;
}

#scout-masters {
    list-style: none;
}
@media screen and (max-width: 700px){
    #about_para{
        width: auto;
        padding:4px;
    }
}