
#about_h3{
    margin: 0;
}
#about_para_1{
    margin-top: 3px;
}
#About_Info{
    width: auto;
    height: 100%;
    margin: 80px 1% 1% 1%;
    background-color:lightgray;
    border: 5px solid white;
    padding: 3%;

}

#about_para{
    width: auto;
    height: 100%;
    margin-top: 40px;
}

#scout-masters, #eagle-scouts {
    list-style: none;
    text-align: left;
    padding-left:30px ;
}

@media screen and (min-width: 800px){
    #about_para{
        width: 80%;
        display: inline-block;
        padding:4px;
    }
    #text-boxs{
        padding: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #scouts, #leaders{
        margin: 5%;
    }
    #leaders{
        margin-left: 9%;
    }
    #scout-masters, #eagle-scouts {
        padding-left: 4%;
        margin: 3%;
    }
}