.App{
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 3px;
    background-color: lightgray;
    text-align: center;
}

#const_logo{
    width: 400px;
    height: auto;
    object-fit: fill;
    margin: 10px;
    border: 5px solid white;
}

#Main_title{
    height: 100px;
    margin-top: 105px;
    padding-top: 10px;
}


.ft_page_main{
    padding-top: 25px;
    font-size: 10px;
}

