.App{
    flex: 1;
    background-color: lightgray;
    border: 5px solid white;
    text-align: center;
}

#const_logo{
    width: 400px;
    height: auto;
    object-fit: fill;
    margin: 10px;
    border: 5px solid white;
}

#Main_title{
    height: auto;
    padding-top: 10px;
}
#events{
    border: 5px solid white;
    background-color: lightpink;

}
#event_dates{
    height: 50px;
}
.dates{
    display: inline;
    padding: 0 20px;
}
.ft_page_main{
    padding-top: 25px;
    font-size: 10px;
}

@media screen and (max-width: 700px){
    #Main_title{
        width:100%;
        height: auto;
        padding-top: 2px;
    }
    #const_logo{
        width: 200px;
        height: auto;
        margin: 5px;
        object-fit: fill;
    } 
    .dates{
        display: block;
        padding: 0 20px;
    }
    #event_dates{
        height: auto;
    }
};
    