
.navigation__item{
margin:2rem;
}

.navigation__checkbox{
display: none;
}
.navigation__checkbox:checked ~ .navigation__backgroud{
transform: scale(300);
}
.navigation__checkbox:checked ~ .navigation__nav{
    opacity: 1;
    width: 100%;
    }
.navigation__button{
    margin: 0;
    border: 1px solid black;
background-color:  white;
height: 3rem;
width: 3rem;
position: fixed;
top: 1.5rem;
right: 1.5rem;
border-radius: 50%;
z-index: 2000;
box-shadow: 0 1rem 3rem black;
text-align: center;
cursor: pointer;
}

.logout-btn, .home-btn, .login-btn, .signup-btn{
    font-size: 2rem; 
    font-weight: 300;
    text-transform: uppercase; 
    background-image: linear-gradient(120deg, black 80%, rgb(40, 38, 38) 5%, white 92%);
    border-radius: 15%; 
    border: 2px solid black;
    box-shadow: 0 1rem 3rem black; 
    background-size: 100%; 
    margin: 5px;
    
}

.navigation__backgroud{
height: 2rem;
width: 2rem;
border-radius: 50%;
position: fixed;
top: 1.75rem;
right: 1.75rem;
background-image: radial-gradient( #676767,  white);
z-index: 1000;
transition: transform .8s  cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav{
height: 100vh;
width: 0;
position: fixed;
top: 0;
right: 0;
z-index: 1500;
opacity: 0;
transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style:none ;
    text-align: center;
    color: #4c4cf2;
    width: 100%;
}
.navigation__icon{
    position: relative;
    margin-top: 1.4rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after{
    width: 1.25rem;
    height: 2px;
    background-color:black;
    display: inline-block;
}

.navigation__icon::before, .navigation__icon::after{
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s;
    
}
.navigation__icon::before{
top:-.5rem;
}
.navigation__icon::after{
top: .5rem;
}

.navigation__button:hover .navigation__icon::before{
top: -1rem;
}
.navigation__button:hover .navigation__icon::after{
    top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon{
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before{
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after{
    top: 0;
    transform: rotate(-135deg);
}