
#gallery_h3{
    margin: 0;
}
#gallery_para_1{
    margin-top: 3px;
}
#Gallery_Info{
    width: auto;
    background-color:lightgray;
    border: 3px solid white;
}
#gallery_para{
    width: auto;
    padding:3px 200px 10px 200px;
}
#recent_out{
    margin: 2rem;
    width: auto;
    border: 5px black solid;

}
#gal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#gal_h3{
    margin: 0;
}
.photos{
    margin-top: 15px;
    width: 300px;
    padding: 5px 5px 0px 45px;
    text-align: left;

}
.photo_test{
    width: 45vw;
    height: 30vh;
    margin: 3%;
    border: 2px black solid;
    
}



@media screen and (max-width: 700px){
    #gallery_para{
        width: 100%;
        padding:4px;
    }
    .photo_test{
        width: 50vw;
        height: 25vh;
        margin: 3%;
    }
    #Gallery_Info{
        height: 100%;
        width: auto;
        margin: 1%;
        
    }
    #gal{
        display: flex;
        

        margin: 3%;
        justify-content: space-evenly;
        
    }
    #recent_out{
        margin: 2rem;
        width: auto;
        height: auto;
        border: 5px black solid;
    
    }
}