

#Res_h3{
    margin: 0;
}
.sites{
    margin-top: 15px;
    width: 300px;
    padding: 5px 5px 0px 45px;
    text-align: left;
    
}
.link_btn{
    height: 20px;
    width: 180px;
    border: 3px solid black;
    background-color: white;
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 6px;
    margin: 4px;
    
}
#Res_Info{
    margin: 0;
    margin-top: 80px;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 50px;
    background-color:rgb(2, 192, 255);
    border: 2px solid white;
    
}
#Res_box {
    margin: 2%;
    border:3px green solid;
    display: flex;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
#troop_res, #bsa_res{
    margin: 1rem;
    width: 250px;
    height: 78vh;
    border: 5px black solid;
    
}
.sites{
    margin-top: 15px;
    width: 200px;
    padding: 5px 5px 0px 20px;
    text-align: left;
    
}


@media screen and (min-width: 850px){


#Res_Info{
    margin: 100px 1% 1% 1%;
    padding: 5%;
    width: auto;
    height: 100vh;
    background-color:lightgray;
    border: 5px solid white;
}
#Res_box {
    margin: 1rem;
    width: 95%;
    height: 70%;
    border:5px green solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#troop_res, #bsa_res{
    margin: 3%;
    width: 300px;
    height: 400px;
    border: 5px black solid;
    
}

#Main_title{
    height: auto;
    padding-top: 10px;
}
    

}
@media screen and (orientation: landscape) and (min-width: 735px){
    #Res_Info{
        margin-top: 100px;
    }
}