.App{
    flex: 1;
    background-color: lightgray;
    border: 5px solid white;
    text-align: center;
}

#Contacts_Info{
    margin: auto;
    width: auto;
    height: auto;
    background-color:lightcoral;
    border: 5px solid white;
}
#j_pucel{
    list-style: none;
    
}
ul {
    padding: 0;
}
#j_pucel li{
    border: solid 5px black;
    text-align: left;
    margin: 10px;
    padding-left: 100px;
}

#Main_title{
    height: auto;
    padding-top: 10px;
};