.App{
    flex: 1;
    background-color: lightgray;
    border: 5px solid white;
    text-align: center;
}

#Contacts_Info{
    margin: auto;
    width: auto;
    height: 420px;
    background-color:lightcoral;
    border: 5px solid white;
}
#j_pucel{
    list-style: none;
    padding-left: 10rem;
    padding-bottom: 40px;
    text-align: left;
}

#Main_title{
    height: auto;
    padding-top: 10px;
};