.App{
    flex: 1;
    background-color: lightgray;
    border: 5px solid white;
    text-align: center;
}

#Contacts_Info{
    width: auto;
    height: auto;
    background-color:aqua;
    border: 5px solid white;
}

 .j_pucel{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
}

.j_pucel li{
    border: solid 5px black;
    height: 200px;
    width: 200px;
    text-align: left;
    margin: 4px;
    padding-left: 20px;
    background-color: lightcoral;
    
}

@media screen and (max-width: 1060px){
    .j_pucel {
        display: block;
        margin: .5rem;

    }

    .j_pucel li{
        border: solid 5px black;
        height: 170px;
        width: 90%;
        text-align: left;
        margin: 3px;
        padding-left: 18px;
        background-color: lightcoral;  
        

    }
    .contact_name, .j_pucel li{
        font-size: 15px;
    }
}


